.header__title {
  max-width: 740px;
  font-family: inherit;
  color: #ffffff;
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  padding-top: 110px;
  font-size: 45px;
  line-height: 1.6;
  font-weight: bold;
  text-transform: uppercase;
}
