.header__container {
  max-width: 1200px; /* максимальная ширина страницы */
  padding: 40px 15px 0px 15px; /* внутренние отступы */
  margin: 0 auto; /* выравнивание по центру */
  box-sizing: border-box;
  display: flex; /* выравниваем элементы по центру */
  justify-content: space-between; /* выравниваем элементы по горизонтали - крайние элементы прижимаются к краям родителя, оставшиеся выстраиваются внутри контейнера равномерно, так, чтобы между ними были одинаковые отступы.*/
  align-items: center; /* выравниваем элементы по вертикали - элементы выстраиваются по центру поперечной оси*/
}
