.header {
  background-image: url(/html-2-diploma/diplom_1/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  background-color: #000000;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.45;
}
